In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob('Resources/*.csv')))

In [3]:
df

,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,venue_id,...,away_line_scores[0],away_line_scores[1],away_line_scores[2],away_line_scores[3],away_post_win_prob,away_pregame_elo,away_postgame_elo,excitement_index,highlights,notes
0,222340258,2002,1,regular,2002-08-22T23:30:00.000Z,NaN,False,True,57120.0,3923.0,...,6.0,13.0,3.0,13.0,NaN,1561.0,1562.0,NaN,NaN,NaN
1,222350275,2002,1,regular,2002-08-24T00:00:00.000Z,NaN,False,False,75136.0,347.0,...,7.0,0.0,7.0,7.0,NaN,1713.0,1710.0,NaN,NaN,NaN
2,222360194,2002,1,regular,2002-08-24T18:30:00.000Z,NaN,False,False,100037.0,3861.0,...,7.0,0.0,0.0,14.0,NaN,1657.0,1598.0,NaN,NaN,NaN
3,222360152,2002,1,regular,2002-08-24T20:30:00.000Z,NaN,False,True,47018.0,3670.0,...,0.0,0.0,7.0,7.0,NaN,1570.0,1524.0,NaN,NaN,NaN
4,222360158,2002,1,regular,2002-08-24T23:45:00.000Z,NaN,False,False,77779.0,3834.0,...,3.0,0.0,7.0,0.0,NaN,1507.0,1441.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,401426614,2022,13,regular,2022-11-26T23:00:00.000Z,False,False,True,NaN,218.0,...,NaN,NaN,NaN,NaN,NaN,1296.0,NaN,NaN,NaN,NaN
3589,401426382,2022,13,regular,2022-11-26T23:00:00.000Z,False,False,True,NaN,3608.0,...,NaN,NaN,NaN,NaN,NaN,1647.0,NaN,NaN,NaN,NaN
3590,401415272,2022,13,regular,2022-11-26T23:00:00.000Z,False,False,True,NaN,6501.0,...,NaN,NaN,NaN,NaN,NaN,1403.0,NaN,NaN,NaN,NaN
3591,401415267,2022,13,regular,2022-11-27T02:00:00.000Z,False,False,True,NaN,7311.0,...,NaN,NaN,NaN,NaN,NaN,1793.0,NaN,NaN,NaN,NaN
3592,401404145,2022,15,regular,2022-12-10T20:00:00.000Z,False,True,False,NaN,3806.0,...,NaN,NaN,NaN,NaN,NaN,1398.0,NaN,NaN,NaN,NaN

In [4]:
df.to_csv("Data/unclean_", index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'Data/Unclean'